<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-network-printer" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NetworkPrinter</name>
    <author>Jagjeet Singh</author>
    <license>ISC</license>
    <description>Printing by IP Address</description>

    <js-module name="NetworkPrinter" src="www/NetworkPrinter.js">
        <clobbers target="cordova.plugins.NetworkPrinter"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NetworkPrinter">
                <param name="android-package" value="cordova.plugin.network.printer.NetworkPrinter"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/NetworkPrinter.java"
                     target-dir="src/cordova/plugin/network/printer/NetworkPrinter"/>
    </platform>
</plugin>
